<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/Acme.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;width:800px;padding-bottom:10px"/>
        </div>
        <div class = "row">
            <h2 class = "text-center">
                <strong>Discover the Perfect Recipes for Every Meal!</strong>
            </h2>
            <div class="text-center">
                From breakfast, lunch and dinner to snacks and dessert, simplify meal prep with these versatile recipes for every occasion!
                </div>
            
        </div>
        
    </div>
</div>