<div class='panel panel-primary  col-md-10'>
    <div class='panel-heading '>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        
        <div class='table-responsive col-md-10'>
            <table class='table' 
                  *ngIf='products && products.length'>
                <thead>
                    <tr >
                        <th> Image </th>
                        <th>Product</th>
                        <th> Product Description</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>

                </thead>
                <tbody>
                     <tr *ngFor='let product of products'>
                        <td>
                            <img 
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            {{product.productName}}
                        </td>
                        <td>{{ product.description}}</td>
                       
                        <td>{{ product.price | currency:'USD':true:'1.2-2'}}</td>
                        <td>
                           <comp-star [rating] = 'product.starRating' (notifyContainer) = 'onNotifyContainer($event)'> 

                           </comp-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>