<div class='panel-body'>
                
                
                <div class="card-block text-left col-md-5">
                    <p><strong>Name:</strong> {{user?.name}}</p>
                    <p><strong>Login:</strong> {{user?.login}}</p>
                    <p><strong>URL:</strong> {{user?.url}}</p>
                    <p><strong>eMail:</strong> {{user?.eMail}}</p>
                    <p><strong>Total Repositories:</strong> {{user?.public_repos}}</p>
                    <p><strong>Location:</strong> {{user?.location}}</p>
                    <p><strong>Followers:</strong>{{user?.followers}}</p>
                    <p><strong>Following:</strong> {{user?.following}}</p>
                </div>
 </div>